absl-py==2.1.0
astunparse==1.6.3
attrs==20.3.0
autopep8==2.1.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
check50==3.3.11
clang-format==18.1.5
click==8.1.7
cryptography==42.0.7
EditorConfig==0.12.4
filelock==3.15.4
flatbuffers==24.3.25
fsspec==2024.6.1
gast==0.6.0
google-pasta==0.2.0
grpcio==1.65.1
h5py==3.11.0
huggingface-hub==0.24.5
icdiff==2.0.7
idna==3.7
jellyfish==0.11.2
Jinja2==3.1.4
joblib==1.4.2
jsbeautifier==1.15.1
keras==3.4.1
lib50==3.0.11
libclang==18.1.1
libmagic==1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.4.0
namex==0.0.8
nltk==3.8.2
numpy==1.26.4
opencv-python==4.10.0.84
opt-einsum==3.3.0
optree==0.12.1
packaging==24.0
pexpect==4.9.0
pillow==10.4.0
protobuf==4.25.4
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.22
pygame==2.5.2
Pygments==2.18.0
python-magic==0.4.27
PyYAML==6.0.1
regex==2024.7.24
requests==2.31.0
rich==13.7.1
safetensors==0.4.4
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
soupsieve==2.5
style50==2.10.3
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==1.1.0
tf_keras==2.17.0
threadpoolctl==3.5.0
tokenizers==0.19.1
tqdm==4.66.5
transformers==4.44.0
typing_extensions==4.12.2
urllib3==2.2.1
Werkzeug==3.0.3
wrapt==1.16.0
